/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --table-radius: 5px;
}


body {
    /*display: flex;*/
    align-items: center;
}

table {
    border-collapse: separate;
    min-width: 80%;
    border-radius: var(--table-radius);
    border-spacing: 0;
    margin: 1em auto

}

th, td {
    border-spacing: 0;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: var(--table-radius);
}

th:last-child {
    border-top-right-radius: var(--table-radius);
}

tr:last-child > td:first-child {
    border-bottom-left-radius: var(--table-radius);
}

tr:last-child > td:last-child {
    border-bottom-right-radius: var(--table-radius);
}

th {
    border-top-width: 2px;
    font-weight: bold;
    background-color: black;
    color: white;
}

td:first-child, th:first-child {
    border-left-width: 2px;
}

td:last-child, th:last-child {
    border-right-width: 2px;
}

tr:last-child > td {
    border-bottom-width: 2px;
}

thead > tr {
    position: sticky;
    top: 0;
    background-color: white;
}