<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Template</title>
        <link rel="stylesheet" href="../css/template.css">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Generation</th>
                    <th>Types</th>
                    <th>Stamina</th>
                    <th>Base attack</th>
                    <th>Base defense</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>197</td>
                    <td>Umbreon</td>
                    <td>2</td>
                    <td>Dark</td>
                    <td>216</td>
                    <td>126</td>
                    <td>240</td>
                    <td><img src="../webp/thumbnails/197.webp" alt="Umbreon"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>